.view-alert{
  padding: .3rem 0;
  text-align: center;
}


.alert-title, .alert-body{
  font-size: .13rem;
  line-height: .35rem;
}
.alert-footer{
  padding-top: .22rem;
  a{
    display: inline-block;
    width: 1.1rem;
    line-height: .35rem;
    font-size: .16rem;
    color: #fff;
    background: #ff5500;






  }
}
.alert-tips{
  padding: .15rem 0 .02rem;


  font-size: .11rem;
  color: #a7a7a7;
}