
.tab-header{
  display: -webkit-box;
  display: box;
  height: .34rem;
  line-height: .34rem;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  background: #fff;

  li{
    -webkit-box-flex: 1;
    box-flex: 1;
    font-size: .14rem;
    color: #333;
    text-align: center;
    span {
      display: inline-block;
      height: 100%;
      padding: .0 .23rem;
    }
    &.active{
      color: #ff5500;
    }
  }
  .active span{
    border-bottom: 1px solid #ff5500;
  }

}
.tab-body{
  min-height: 4rem;
}

